### Excel
xlsxwriter
openpyxl
pandas

### Environment Variables
python-dotenv

### MySQL
pydantic-settings
mysql-connector-python

### API
fastapi
uvicorn

### Authentication
PyJWT

### Email
email-validator